img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;border:0;padding:0; margin:0;}

/*清除mui部分原有样式*/
.mui-input-group:before{background: none;}
.mui-input-group:after{background: none;}
.mui-table-view:before{ background: none;}
.mui-table-view:after{ background: none;}
.mui-table-view-cell:after{right: 0;bottom: 0;left: 80px;}
.mui-table-view-chevron .mui-table-view-cell{padding-right:30px;}
.mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn){margin-right:-30px}

.setblock .mui-table-view-cell:after{right: 0;bottom: 0;left: 8px;}
/*.mui-table-view-cell .mui-media-body{padding-bottom:10px; border-bottom:1px solid #CCCCCC;}*/
.mui-input-group .mui-input-row:last-child:after{ background: none;}
.mui-input-group .mui-input-row:after{left:10px; background-color: #E6E6E6;}/*登录注册等表单的横线*/
.mui-poppicker-header .mui-btn.mui-poppicker-btn-ok {border: 1px solid #ff9900;background-color: #ff9900;}
.mui-poppicker-body .mui-picker{background:#fff;}/*城市选择器*/
/*无点击效果*/
.mui-table-view .mui-table-view-cell.NoActive>a:not(.mui-btn).mui-active{background:none;}
.mui-table-view .mui-table-view-cell.NoActive.mui-active{background:none;}
/*图片轮播按钮圆点*/
.mui-slider-indicator .mui-indicator{ background: rgba(130,130,130,.4);-webkit-box-shadow:none;box-shadow: none;}
.mui-slider-indicator .mui-active.mui-indicator{background: rgba(256, 256, 256, 0.6);}

.mui-popover{ border-radius:0;}
/*弹出框样式popup*/
.mui-popup-inner {border-radius: 8px 8px 0 0;}
.mui-popup-title{text-align: left;}
.mui-popup{text-align: left;}
.mui-popup-button:first-child { border-radius: 0 0 0 8px;}
.mui-popup-button:last-child { border-radius: 0 0 8px;}
.mui-popup-button{ color:#999999; font-size:14px;line-height:20px;}
.mui-popup-button:hover{background: #FF9900;color:#FFFFFF;}

a{text-decoration:none;color:#007aff}a:active{color:#0062cc}
.mui-btn{font-size: 14px;
    font-weight: 400;
    line-height: 1.2;}
.mui-btn.mui-active:enabled,.mui-btn:enabled:active,button.mui-active:enabled,button:enabled:active,input[type=button].mui-active:enabled,input[type=button]:enabled:active,input[type=reset].mui-active:enabled,input[type=reset]:enabled:active,input[type=submit].mui-active:enabled,input[type=submit]:enabled:active{color:#fff;background-color:#FF9900;border:1px solid #ff9900;}
/*///////////////common公共样式///////////////////////*/
body{ color: #666666; font-size:14px;line-height:20px;}
.floatL{ float: left;}
.floatR{ float: right;}
.alignCenter{ text-align: center;}
.displayNone {display: none;}
.displayBlock {display: block;}
/*圆角*/
/*头像、资源圆角*/
.headRadius{border-radius: 4px;}
/*底板背景圆角*/
.bgRadius{border-radius: 6px;}
/*大块右侧缩进*/
.rightChevron{padding-right: 64px;}

.marginbox{ margin: 10px 0; padding:0; }
.marginbox:first-child{margin: 0;}
.mainbox{width: 96%; margin:2% auto;}
.mainbox:before{ position:static;}
/*div模拟textarea多行文本框*/
div.textareabox{font-size:14px;padding:2px;-webkit-user-select:text;-webkit-user-modify: read-write-plaintext-only;}
div.textareaboxEmp:empty:before {content: attr(placeholder);font-size:14px;display: block;color: #AAAAAA;}
div.textareaboxEmp:focus{content:none;}
.borderarea{border-bottom: 1px solid #F0F0F0;}
.limitNum{font-size:13px;text-align: right;color:#BBBBBB;}
/*必填项样式*/
.requiredcon{ position: absolute; top:0; margin-left:4px; width: 8px; height:8px; background: url(../images/requiredicon.png) center center no-repeat; background-size: 100% 100%;}
/*功能icon样式*/
.actionicon{/*display: block; width: 20px; height: 20px;*/ font-size:20px;margin-right:6px;}
/*主题色开关样式*/
.witchbg.mui-active{border:2px solid #FF9900; background-color:#FF9900;}
.witchbg{ height: 22px;width:38px;}
.witchbg .mui-switch-handle{ width: 20px; height: 20px;/*left: 4px;*/transition-duration: 0.2s;transform: translate(-4px, 0px);}

/*列表右侧无箭头*/
.rightnone:after{ right: 15px;content:none;}
.rightnone{}
/*小标签提示*/
.litlabel .listtit2{ color: #AAAAAA;}

/*单行省略号*/
.onlyone{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

/*顶部标题栏*/
.toptitbox{ background:#FF9900; }
.topback.mui-icon{color: #FFFFFF; font-size:30px; line-height: 24px;}
.topmore {position:relative;color: #FFFFFF;
	/*filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);*/
}
.topmore.mui-icon{ font-size:24px; line-height:24px;}
.topmore .sharebox{padding:0; margin: 0; position: absolute;display: none;}
.topmore .sharebox li{list-style: none;}

.topsave{color: #FFFFFF; line-height: 42px; cursor: pointer;}
.toptit{color: #FFFFFF; font-size: 20px;}
.personhead{color: #FFFFFF;}
/*底部导航栏*/
.footbox{ background: #FFFFFF;border-top:1px solid #DDDDDD;-webkit-box-shadow: 0px 6px 6px 2px #CCCCCC;box-shadow: 0px 6px 6px 2px #CCCCCC;}
.footbox .mui-tab-item.mui-active{ color: #FF9900;}

.listtit0{font-size: 13px; color: #222222;}
.listtit{ font-size: 14px; color: #333333;}/*中标题*/
.listtit2{font-size: 13px; color: #666666;}/*较小标题*/
.listtit3{font-size: 12px; color: #888888;}/*小标题*/
.littip{font-size:12px;color:#BBBBBB;line-height: 26px;}
.identity-wen{padding-left:14px;} 
/*/////专家身份认证状态///////*/
/*已认证*/
.authword{ padding:2px 6px; margin-left:6px;border-radius:4px; color: #FFFFFF; font-size: 12px;}
.authed{ background: #FF9900; }
/*认证中*/
.authing{background: #0ee032;}
/*未认证*/
.unauth{background: #efefef;color: #CCCCCC;}

/*/////////认证身份标识///////////*/
/*企业和专家认证标识 icon-vip*/
.unauthicon{color:#C0C0C0; }/*未认证*/
.authicon{color:#FF9900;}
.icon-vip.iconfont{margin-left:2px;font-size:14px;}
.authicon-cu{color:#FF9900;}/*认证科研型专家*/
.authicon-com{/*color:#00aaee;*/ color:#2082fb;}/*认证企业型专家*/
/*普通用户认证标识 icon-renzheng*/
em.mui-icon.iconfont.icon-renzheng{position:absolute;float:left;font-size: 0;width:48px;height:16px;background-image:url(../images/authicon.png);background-repeat:no-repeat; }
.authicon-mana{background-position: 0 -1px;background-size:100% auto;color:#ff9900;}/*认证科研*/
.authicon-staff{background-position: 0 -16px;background-size:100% auto;color:#007AFF;}/*认证企业*/
.authicon-stu{background-position: 0 -32px;background-size:100% auto;color:#0ee032;}/*认证在读学生*/

/*****表单公共样式********/
/*input输入相关*/
button:disabled,input.frmtype[type='button']:disabled{ opacity: 1;}
.frmbox{ width: 100%; margin:2% auto; border-radius: 6px; }
.frmtype{ width: 100%; margin: auto;line-height: 30px;padding: 1% 2%;font-size: 14px;line-height:20px;vertical-align: middle;}
.frmbtn{margin:4% auto;font-size: 14px;line-height: 24px;padding: 1% 2%;border:1px solid #FF9900; border-radius: 6px; color:#FF9900 ;vertical-align: middle;}
/*.frmbtn:hover{border:1px solid #FF9900; color:#FFFFFF;background-color:#FF9900;}*/
.frmbox{ border:none; width: 90%;height: 100%; } 
/*未激活按钮状态*/
.frmactive2{color:#f0f0f0;background-color:#d6d6d6; border:1px solid #d6d6d6;}
.frmactive2.mui-btn.mui-active:active,.frmactive2.mui-btn:enabled:active{color:#f0f0f0;background-color:#d6d6d6; border:1px solid #d6d6d6;}

.frmactive{color:#fff;background-color:#FF9900; border:1px solid #FF9900;}
.frmactiveok{color:#fff;background-color:#FF9900; border:1px solid #FF9900;}
.exitbox{ text-align: center;margin-top:40px;}
.exitbtn{ border:none; margin: 0; color:#FF0000; font-size: 14px; line-height: 40px; border-radius: 0;}

.pompmsg{ font-size: 12px; color: #CCCCCC;}
/*///////////////common公共样式///////////////////////*/

/***********************登录注册相关页面*******************/
/*关闭*/
.closebtn{ position: relative;border:1px transparent solid;}
/*.closeicon{background: url(../images/workclose.png) center center no-repeat; background-size: 100% 100%;  width: 30px; height: 30px; position: absolute;right:5%; top:20px;}*/
.closeicon{font-size: 50px; color:#999999; position: absolute;right:1%; top:14px;}

.frmbox .frm-input{/*height:60px;*/width:100%;height: 0;height: 100%;padding: 2% 0;}
.frmbox .frm-input .frmtype{ height: 0; height: 100%;}
.frmbox .frm-input .frmtypel{ height: 0;height: 100%; width: 90%;}
/*logo盒子的相关*/
.logobox{ padding:6%; margin:20% auto 6% ; }
.logolink{display: block;width:30%;margin: auto;}
.logoimg{ width: 94%; margin: auto; text-align:center;}
/*忘记密码*/
.forgetword{ position: absolute;top: 50%; margin-top:-14px;right: 2%;padding:4px 10px;line-height: 20px; font-size: 12px; background: #f0f0f0;border:1px solid #f0f0f0; color: #AAAAAA; border-radius: 6px;}
.forgetword2{ background: #FF9900;border:1px solid #FF9900; color: #FFFFFF;}
.forgetword em{font-size:16px; line-height:16px; margin-left:3px;}
.forgeticon{ background: url(../images/forget.png) center center no-repeat; background-size: 100% 100%;padding:2%; position: absolute; margin-top:-2%;}
.passwordbox .frmtypel~.mui-icon-clear{right:4%; top:50%; margin-top: -2%;}

/*第三方快捷登录*/
.quickbox{ width: 100%; margin-top:80px;text-align: center;}
/*.borderline{ border:1px dashed #999999; width: 86%; margin:auto; position: relative;}
.borderline div{ position: absolute; left:50%; width: 40%; height:4px; margin-left:-20% ; top:-2px; background:#DDDDDD ;}*/
.borderword{ font-size: 16px; color:#999999;}
.quickway{margin: 1% auto; overflow: hidden;}
.quickicon{margin: 2% 3%; padding: 1%;}
.quickicon img{width:28px; height: 28px; }
.weixinicon{ color: #86C610;}
.weiboicon{color:#F29600; font-size: 36px;}
.qqicon{color:#0093DD;}
/*用户协议*/
.protocolbox{overflow: hidden;color: #999999; line-height: 20px; margin: 0 0 20px 0;}
.protocolbox .mui-icon{ font-size:14px; line-height: 24px;}
.protocolbox label{position: relative; font-size: 13px; }
/*.agreeicon{width:20px; height:20px;}*/
.agreecheck{font-size:30px; line-height: 30px; color: #FF9900 ;}
.protocollink{ color: #FF9900;}
/*设置密码*/
.setfindbox{ margin: 20% auto;}

/*完善信息*/
.maincon{ padding:4% 2%; overflow: hidden;}
.maincon .headbox{ text-align: center;}
.headbox .headimg{width: 20%;}
.maincon .pinfor{ color: #888888; font-size: 13px;}
.maincon ul {margin:0; padding:0;padding-left:3%;}
.maincon ul li{ list-style: none;padding-left: 2%;font-size: 14px;line-height: 20px; overflow: hidden;}
.boxnav-title{font-size: 14px; color:#888; font-weight: normal;position:relative;padding-left:6%;}
ul.boxnav{ overflow: hidden;width:100%; padding: 0 3%;}
ul.boxnav li{list-style: none;width:50%;float:left; padding:5px 10px;    -webkit-box-sizing: border-box;}
ul.boxnav li span{width:100%; font-size:12px;height:28px; line-height:26px; text-align: center; display: block; background: #fff;  border-radius: 5px;}
ul.boxnav li:nth-child(1) span{border:1px solid #ff9900; color: #ff9900;}
ul.boxnav li:nth-child(2) span{border:1px solid #6699ff; color: #6699ff;}
ul.boxnav li:nth-child(3) span{border:1px solid #66cc00; color: #66cc00;}
ul.boxnav li:nth-child(4) span{border:1px solid #666; color: #666;}
ul.boxnav li.liactive{}
ul.boxnav li .icon-check {border: 1px solid;border-radius: 50%;font-size: 12px;margin-right: 3%;}
ul.boxnav li.set:nth-child(1) span{border:1px solid #ff9900; color: #fff; background: #ff9900; }
ul.boxnav li.set:nth-child(2) span{border:1px solid #6699ff; color: #fff; background: #6699ff; }
ul.boxnav li.set:nth-child(3) span{border:1px solid #66cc00; color: #fff; background: #66cc00; }
ul.boxnav li.set:nth-child(4) span{border:1px solid #666; color: #fff; background: #666; }
ul.boxnav li.set span:before{font-family:"iconfont";content: "\e645";border:1px solid;border-radius: 50%;font-size:12px; margin-right: 4%;}

/*.maincon .basicinfo>li:not(.basicfrm){ font-size: 13px; line-height: 42px;}*/
.maincon ul li.basicfrm{list-style: none; position: relative; overflow: hidden; line-height: 20px;border-bottom:1px #F0F0F0 solid;margin:-4px 0 14px 2%;padding-left:0; }
.maincon ul li.basicfrm .frmtype{ height: 26px; padding:0; padding-right:2%;line-height:20px;font-size: 14px; }
.maincon ul li.basicfrm .authu{position:absolute;left:80%;color:burlywood}
.maincon ul li label{ position: relative; color: #888888; line-height:30px;}
.maincon ul li small{ color:#AAAAAA;}
.maincon ul.set2{ display: block;}
.fillbox{margin-top:15px;padding:4% 0;}
.headbox3{ position: relative;width:100px; height: 100px; margin:0 auto; margin-top:15px;border:2px #FFFFFF solid;box-shadow: 1px 1px 2px 1px #F0F0F0; overflow: hidden;background: url(../images/default-photo-up.jpg); background-size:100% 100%;}
.headbox3 .headimg3{width:100px; height: 100px;}
.headbox3 .headimglink{position: absolute;line-height:100px;color:#FFFFFF; font-size:20px;padding:0 38px;display: block; background:rgba(0,0,0,.4);width: 100px; height:100px;z-index: 4;}

.nextstep{ color: #FF9900; font-size: 13px;}
.nextstep{ position: relative;}
.nextstep em{display: block;position: absolute; right:-18px; top:1px; width: 14px; height: 14px; margin-left:6px ; background:url(../images/goto.png) center center no-repeat; background-size:100% 100% ; }
.nexstepbtn{ border:1px solid transparent;}
/***********************登录注册相关页面*******************/

/***********************首页*******************/
.searchbox {width: 96%;margin:6px auto;background:#FFFFFF;height:32px;text-align: center;}
.searchbox .searchtxt.mui-icon{font-size:14px; color: #999999;}
.searchbox .searchtxt.mui-icon span{font-size:12px;margin-left:4px;line-height:16px;}
.mui-search input[type=search].searchtxt{background: #FFFFFF;}
.mui-search .mui-placeholder{ font-size: 14px; top:2px }

.maintitbox .maintit{ line-height: 40px; font-size: 16px; text-align: center; color: #FF9900; border-bottom: 1px solid #F0F0F0;}
.maintitbox .maintit2{ text-align: left;color:#888888;padding:2px 10px;}
.maintitbox .maintit2 span{color: #FF9900;}
.conblock{ background: #FFFFFF; margin:10px 0;}
.mui-grid-view.gridbg{ background: #FFFFFF; border: none;}
.mui-grid-view.gridbg .mui-table-view-cell{ /*border:none;*/ padding: 10px 4px;}
.mui-grid-view.gridbg .mui-table-view-cell .mui-media-body{ font-size: 12px;}
.mui-table-view.gridbg:after{height:0;}
/*热门领域*/
.fieldicon{ overflow: hidden;width:24px; height:24px;margin: auto;}
.fieldicon img{width: 100%;}
/*热门专家*/
.mui-table-view-cell.prolist:after{/*background:#C0C0C0*//*#c8c7cc;*/}
.protable:before{ background-color:transparent;}

.mui-media .headimg{max-width:60px; height:60px; margin: 1% 0;overflow:hidden;}
.mui-media .resimg{border-radius:2px; max-width:60px; height:60px; margin: 1% 0;}
.mui-table-view-cell>a.proinfor{ white-space:normal; overflow: auto;position: relative; overflow: hidden; }
/***********************首页*******************/

/*资源图片*/ 
.ResImgBox{display: inline-block;text-align: center;max-width:64px;width:64px;height:60px;padding:1px;background:#FAFAFA;border:1px solid #F8F8F8;overflow: hidden;padding:2px; margin: 6px 0;border-radius:4px;}
.ResImgBox2{margin: 6px 0 6px 10px;}
.ResImgBox .resImg{max-width: 100%;max-height: 100%;vertical-align: middle;position: relative;}
.ResImgBox:before {content: ' ';display: inline-block;vertical-align: middle;width: 0;height: 100%;overflow: hidden;margin-left: -4px;}
.mui-table-view .mui-media-object.ResImgBox{max-width:64px;height:64px; }
.mui-table-view .mui-media-object.ResImgBox:before {margin-left: 0;}
/***********************专家信息浏览*******************/
.personinfo .listtit{ font-size: 18px; line-height: 30px; color: #333333;}
.personinfo .listtit3{font-size: 14px; line-height: 24px; color: #AAAAAA; margin: 0;}
/*咨询记录及等级*/
.peolevelbox{ display: block; padding:4% 16px; border-top:1px #F0F0F0 solid;}
.peocountbox{width: 150px;}
.peocount {/*font-size: 13px;*/ color:#888888 ; overflow:hidden; }
.peocount span em{font-size: 14px; padding: 0 3px; color: #FF9900; font-weight: 600;}
.peocount .dialogicon{ /*font-size: 16px;line-height:20px; */color: #FF9900;}
.peocount:before{position: absolute;right: 0; top: 0;left: 15px; height: 1px; content: ''; -webkit-transform: scaleY(.5); transform: scaleY(.5);background-color: #c8c7cc;}
.levelbox{margin: auto; overflow: hidden; }
.levelbox .mui-icon{ font-size: 14px; color: #CCCCCC;}
.levelbox .icon-favorfill{ color:#F4C600;}
/*专家相关信息*/
.infocontit{font-size:14px; position: relative;}
.infocon{padding:6px 10px; /*text-align: justify;*/ font-size: 13px;line-height:27px ; color:#888888;}
.infocon ul{ padding:0; margin: 0; overflow: hidden;}
.infosubject li{ list-style: none; padding:4px 10px; margin:4px; border:1px solid #BBBBBB; border-radius: 6px; float: left;}

.listbox{ margin:5px 0;max-width:100%; overflow:hidden;}
.listbrowse{border: 1px solid #FF9900; border-radius: 0 6px 6px 0; text-align:center;font-size:13px;line-height:27px; float:left;padding-right: 8px; max-width:60%; overflow:hidden;}
.plusbtn{ font-size:20px; line-height: 22px; color:#999999;margin-left:4px; margin-top:2px;  }
.plusbtn.icon-appreciatefill{color:#FF9900;}
.like {display: block;float: left;width: 28px;font-size:12px;background: #FF9900; color: #fff; line-height: 27px;margin-right: 5px;}
.likenum{ float:right;max-width:130px;overflow:hidden; }
.likenum .mui-icon{ font-size:24px; color:#CCCCCC;}
.likepeople{ width:26px; height:26px; float:left; overflow:hidden; margin-right:5px; }
.likepeople img{ width:100%; height:100%;}
.likemore{ display: block; width: 26px; height: 26px; border:1px solid #CCCCCC;}

.infoapply li{ padding-left:6px;padding-right:2px; list-style: disc inside; width: 50%; float: left;}
#industry1 li{ padding-left:6px;padding-right:2px; list-style: disc inside; width: 50%; float: left}
.gotonext{ width:140px; margin: auto; font-size: 14px; color: #FF9900; overflow: hidden;}
.gotonext2{ width: 110px;}

.dialogbtn{ overflow: hidden; width:80%; line-height:50px; color: #FF9900;}
.dialogbtn div{ width: 70px;overflow: hidden;margin: auto;}
.dialogbtn span{font-size: 14px; padding: 0 3px; font-weight: 600;}
.dialogbtn em{font-size: 20px;}

.attentbtn{margin: auto; overflow: hidden; width:20%;padding: 12px;text-align: center; border-left:1px solid #F0F0F0;}
.attentbtn em{font-size: 20px;line-height: 24px;color:#F6DC00;}
/*更多详细信息*/
.maincon2{padding-right:0;}
.infocon2{padding:0;}
.listitembox{ position: static;width: 100%;}
.listitembox .listitem{padding: 10px;padding-right: 0;}
.listitembox .listitem .mui-media-body{padding:0 40px 4px 6px;}
.listitembox .listitem .mui-media-body .resbrief{ width: 90%;}
.listitembox .listitem .iconposition{ border-radius: 50%; max-width:60px; height:60px; margin: 1% 0; margin-right: 10px;}
.listitembox .listitem>a .mutlinebox{ white-space:normal; overflow: auto;word-break:break-word; }
.listitembox .listitem.mui-table-view-cell:after{right: 0;bottom: 0;left:46px;background:#F0F0F0;}
.listitembox .listitem.mui-table-view-cell>a:not(.mui-btn).mui-active{background:none;}
/*合作资源*/
.resinfo{padding:10px 0;}
.resinfo li{margin:4px 4px;padding:10px 0;}
.resinfo li a.proinfor{/*margin-left:14px;*/}
.resinfo li a.proinfor .resimg{}
.resinfo li .mui-media-body .resbrief{ max-height: 44px;width: 90%; overflow: hidden;}
.resinfo li.mui-table-view-cell>a:not(.mui-btn).mui-active{background:#eee;}
.resinfo.listitembox li.mui-table-view-cell:after{left:80px;right:-10px;bottom: 0;background:#F0F0F0;}
/***********************专家信息浏览*******************/

/***********************我的账户*******************/
.headbox2{ overflow: hidden; position: relative;}
.headbox2 .proinfor{ display: block; width: 100%;overflow: hidden;}
.headbox2 .headimg2{width:100%;margin: 2%; }
.headbox2 .infobasic{ margin: 6px 4%;position:absolute; left:25%; top:50%; margin-top: -40px;}
.headbox2 .infobasic .listtit{ font-size: 18px;}
.headbox2 .infobasic .listtit2{ margin: 4px 0;}
.headbox2 .updatebtn{position: absolute; top:50%; margin-top: -12px; right:10px;  }
.headbox2 .editbox{ display: block; width: 24px; height: 24px; }
.headbox2 .editbox .mui-icon{font-size:24px; color:#999999;}
.headbox2 .editbox .mui-icon:hover{color:#FF9900;}

.wallteicon{ color:#FAD000;}
.addicon{ color:#00AAEF;}
.toProicon{ color:#ff00ba;}
.seticon{color:#ACACB4;}
.attenticon{ color:#FF9900;}
.rightword{ position: absolute; right:40px; font-size:13px; color: #999999;}
/*已认证*/
.verified{ color: #FF9900;}


/*我的关注*/
.fixbox{ background: #FFFFFF; position:fixed;top:45px;left:0;width:100%; z-index:1;}
.fixbox .fixbtn{ padding:0; margin: 0; overflow: hidden;}
.fixbox .fixbtn li{ list-style: none; float: left;height:40px;line-height:30px; padding:6px 10px; border-bottom:1px solid #F0F0F0;text-align: center;font-size: 14px;}
.fixbox .fixbtn li:first-child{ border-right:1px solid #F0F0F0;}
.fixbox .fixbtn li.liactive{ color: #FF9900;border-bottom-color: #FF9900;}
.childlist{ display: none;}
.alllist{ margin-top: 45px;}
/*合作历史及评价*/
.lefthead{ margin-right: 10px; text-align:center;}
.contit{ position:relative;}
.contit .listtit{ display: block; width: 62%; }
.conbrief{overflow: hidden;}
.conresoult{ position: absolute; right:0;top:50%; margin-top:-12px; width:38%; height:18px;text-align: right;}
.conresoult .levelbox .mui-icon{font-size: 12px;}
/*邀请新用户*/
.inviteBox{position:relative;height:200px;background: url(../images/yqbg.jpg) center center no-repeat #f5f5f7;}
.inviteBtn{position: absolute;bottom:20px; left:50%;margin-left: -60px;padding:4px 30px;background: #ff9900;color:#FFFFFF;}
.noborder:after{height: 0;}
/***********************我的账户*******************/

/***********************专家信息修改*******************/
.generalinfo li{ line-height:26px ;}
.generalinfo .ginfolist{}
.generalinfo span{letter-spacing:normal;}
.generalinfo .letspace{font-style:normal;letter-spacing: 2em;}

.updatebox{ position: absolute; height:21px;right:1%;font-size: 13px;line-height:21px;color: #FF9900;}
.updatebox2{right:7%; top:20px; }
.updatebox:hover,.updatebox:active,.updatebox:link{ color: #FF9900;}
.updatebox .updatebtn{font-size:20px;position: absolute;top:0;left:-18px;}

.addinfobox{ position: absolute;right: 10px; font-size: 13px;line-height:21px;color: #FF9900;}
.addinfobox:hover,.addinfobox:active,.addinfobox:link{ color: #FF9900;}
.addinfobox .addinfobtn{font-size:15px;line-height:17px;position: absolute;top:50%; margin-top:-8px;left:-15px;}

.addlabel .frmtype{border:1px solid #CCCCCC; border-radius: 6px; margin-right:2%; width: 78%; height: 30px;}
.addlabel .addlabelbtn{ border-color:#FF9900; color: #FF9900; border-radius: 6px;  width: 18%; height: 30px;/*padding-left:20px; padding-right:20px;*/}
.labelarea{ margin: 20px 0;}
.labelshow{ margin: 0; padding:0;overflow: hidden;}
.labelshow li{ list-style: none; padding:4px 10px; margin:4px; border:1px solid #FF9900; font-size: 13px; border-radius: 6px; float: left; }
.labelshow li .mui-icon{ color: #FF9900; font-size:20px; margin-left: 10px;}

.selectbox{padding:0;/* margin: 4px 0;*/}

.downarrow{ position:absolute; right:10px; top:50%; margin-top:-12px; color: #999999; font-size: 18px;}
.timearea{ float: left; width: 46%;}
.timeareashow{float: left; width: 46%; position: relative; border-bottom:1px #F0F0F0 solid;  }
.timearea:last-child{float: right; margin-left:4% ;}
.timeareashow:last-child{float: right; margin-left:4% ;}
.maincon .basicinfo li.timebox{ border-bottom:none; }
/***********************专家信息修改*******************/

/***********************搜索*******************/
.searchbox2{width:85%;background: #FFFFFF; border-radius: 6px; height: 30px;  margin:7px 2%;/*overflow: hidden;*/}
.searchbox2 .searchselect{max-width:64px;width:24%; position:relative; }
.searchbox2 .searchselect em{position: absolute; right:30%; top:-8%; font-size: 13px; line-height:18px;color:#999999; width: 0; height: 0; z-index: 0;}
.searchbox2 input.searchtxt2[type='search']{border:none;background:none;text-align: left;width: 76%;height: 22px; margin: 5px 0; border-radius:0 6px 6px 0; border-left:1px solid #CCCCCC; font-size:12px; line-height:22px;}
.simuselect{width: 100%;position:relative;z-index: 30;}
.ulbox{padding-left: 24%;font-size: 12px;color:#999999;line-height: 32px;cursor:pointer; position:relative;} 
.lishow{ padding:0; margin:0;background:#fff;overflow: hidden; border-radius:0 0 2px 2px;position:absolute; top:24px;right:0px; width:100%;box-shadow: 0px 0px 2px #ccc inset;z-index: 9999;display:none;} 
.lishow li{list-style: none; font-size: 13px;line-height:30px; list-style:none; padding:2px 18px; margin-top:1px;cursor: pointer;} 
.lishow li:hover{ background:#f0f0f0;} 

.historybox{ background: #FFFFFF; padding-bottom:20px;}

.hisrecord{ padding:0; margin: 0;}
.hisrecord li{list-style: none; position: relative; font-size: 13px; color: #999999; border-bottom:1px solid #F0F0F0; padding:8px 12px; overflow: hidden;}
.hisrecord li .histicon{ display: block; width: 14px; height: 14px; margin:3px 4px; background: url(../images/histicon.png) center center no-repeat; background-size:100% 100%; }
.hisrecord li .delrecord{ position: absolute; right: 2%; top:50%; font-size:20px; margin-top:-10px;}

.hisrecord .trashrecord{ text-align: center; padding:10px;}
.hisrecord .trashrecord em{font-size: 18px;}

.hotsearchbox{ padding:10px 14px;}
.hotsearchbox ul{ padding:0; margin: 0; margin:6px 0; overflow: hidden;}
.hotsearch li{ list-style: none; padding:2px 18px; margin:4px;font-size:14px; border:1px solid #FF9900; color: #FF9900; border-radius: 6px; float: left;}
.hotsearch li:active{background: #FF9900; border:1px solid #FF9900;color:#FFFFFF;}

.backTop{ background: #DDDDDD; border-radius: 50%; position: fixed; right: 10px; bottom: 15px; width: 38px; height: 38px; z-index: 9999; text-align: center; font-size: 24px; color: #666666; padding-top: 8px; opacity: 0.8; }

.filterbox{ position: fixed; z-index:2; width: 100%;}
.filterblock{padding:0; margin: 0;background:#FFFFFF;overflow: hidden;}
.filterblock li{list-style:none; float: left;border-right:1px solid #F0F0F0; border-bottom:1px solid #F0F0F0;} 
.filterblock li a.mui-btn{height:40px;line-height:30px; }
.filterblock li a.mui-btn.mui-active,.filterblock li a.mui-btn:enabled:active{background: none;border:none;color:#666666;}
.filterblock li em{ font-size:18px; margin:0 2px;}
.filterlist{ padding:0; margin: 0; border:none; border-radius:0;padding:6px 6px 6px 12px;font-size: 13px;}
/*筛选条件*/
.popoverbox2 {border-radius:4px;width:0;height:0;width:98%;min-height:300px;font-size: 13px; }
.popoverbox2 .mui-popover-arrow{left:50%; margin-left:-12px;}
.popoverbox2 .mui-table-view{padding:4px;border-radius: 0; overflow: hidden;}
.popoverbox2 .mui-table-view-cell{text-align: center;float: left; margin:4px 4%;border-radius:4px;}
.popoverbox2 .mui-table-view-cell:after{right: 0;bottom: 0;left: -10px;background: none;}
.popoverbox2 .mui-table-view-cell>a:not(.mui-btn){/*position: relative;*/padding: 4px;border-radius:4px;border: 1px solid #CCCCCC;color:#888888;}
.popoverbox2 .mui-table-view-cell .mui-navigate-right:after { position:absolute;right: 0; color:#FF9900;font-size: 24px;}
.popoverbox2 .mui-table-view .mui-table-view-cell:last-child,.popoverbox2 .mui-table-view .mui-table-view-cell:last-child>a:not(.mui-btn){border-radius:4px;}
.popoverbox2 .mui-table-view .mui-table-view-cell:first-child,.popoverbox2 .mui-table-view .mui-table-view-cell:first-child>a:not(.mui-btn){border-radius:4px;}
.popoverbox2 .mui-table-view .mui-table-view-cell{border-radius:4px; overflow: hidden; }
.popoverbox2 .mui-table-view-cell>a:not(.mui-btn).active{background:#FF9900; color: #FFFFFF;border:1px solid #FF9900;}
.popoverbox2.mui-popover .mui-table-view{max-height: none; min-height: 300px;}
/*城市选择级联*/
.menublock{ position: relative; }
.menublock .mui-popover-arrow{z-index: 20px;}
.menuposition.mui-popover .mui-scroll-wrapper{ margin: 0; height: auto; top:0;  bottom:0px; border-radius: 0;}
.menuposition{border-radius:4px; position: absolute; height: auto; width:100%; font-size: 14px;}
.menuposition .mui-popover-arrow{left:50%; margin-left:-12px;}
.menuposition .mui-table-view{border-radius: 0; overflow: auto;}
.mui-popover.menuposition .mui-table-view .mui-table-view-cell:after{left: 8px;right: 0;bottom: 0;background: #BBBBBB;}
.mui-popover.menuposition .mui-table-view .mui-table-view-cell:first-child,.mui-popover.menuposition  .mui-table-view .mui-table-view-cell:last-child{border-radius: 0; }
.mui-popover.menuposition .mui-table-view-cell:first-child>a:not(.mui-btn),.mui-popover.menuposition .mui-table-view-cell:last-child>a:not(.mui-btn){border-radius: 0;}
.menuposition .mui-table-view-cell>a:not(.mui-btn).active{border-radius:0;background:#FF9900; color: #FFFFFF;border:1px solid #FF9900;}	
/***********************搜索*******************/

/*********************** 咨询*******************/
.consultbox{ padding:20px 0px 20px 0px;}
.consultaim{ text-align: center; margin: auto;position:relative;width:100%; }
.consultaim ul{padding: 0; margin: 0;padding: 2% 5%;/* width:70%; position:relative; left:50%;margin-left:-34%;*/ overflow: hidden;}
.consultaim ul li{ list-style: none;float: left; width:31%; padding:2px 8px;border:#CCCCCC 1px solid;border-radius: 6px; margin:1%; font-size: 12px;line-height: 24px;vertical-align: middle;}
.consultaim ul li .icon-check{border:1px solid #6CA8FF;color:#6CA8FF;border-radius: 50%;font-size:12px; margin-right: 3%;}
.consultaim ul .liactive{ border:1px solid #6CA8FF;color: #6CA8FF;/*padding-left:28px; position: relative;*/}
/*.consultaim ul .liactive em{ display:block;position: absolute; left:10px; top:50%;margin-top: -8px; width:16px; height:16px;background: url(../images/selected.png) center center no-repeat; background-size:100% 100% ;}*/
.divline{border-top:1px solid #F0F0F0; width: 100%; height: 1px;} 

.consultinfo{ width: 96%; margin: auto; margin-top:6px;}
.consultinfo tr td{ vertical-align: top; padding:4px 0;} 
.consultinfo tr td:first-child{padding: 4px; width:64px;}
.consultinfo tr td input{border:1px solid #CCCCCC; border-radius: 4px; height: 30px; line-height:16px; font-size: 14px;}
.consultinfo tr td textarea{border:1px solid #CCCCCC; border-radius: 4px; height: 100px; line-height:16px; font-size: 14px;}
.consultinfo tr td.sendbox{text-align: right;position: relative;}
.consultinfo tr td .sendbtn{width: 20%;font-size: 13px; padding: 4px 10px;margin:0;position:absolute;right:0; top:0; }

.tableList .mui-table-view-cell:after{right: 0;bottom: 0;left:0;background: none;}
.tableList {background: #EFEFEF;}	
.tableList li .proinfor{background:#FFFFFF;}	
.tableList li:first-child{margin-top:0;}

.operatebox{ width:100%;background: #FFFFFF;overflow: hidden;min-height: 60px;padding:10px;position: relative;}
.themespan{ width: 54%;}
.operatebtnbox{width:44%;position:absolute; top:50%; right:1%;margin-top:-13px;}
/*已评价*/.operated{width:30%; margin-top:-18px;}
.operatebtn{padding:2px 6px 0 6px; margin: 0; position: absolute;right:0; font-size: 13px; line-height: 25px;}


.filterbox2{ position: fixed; z-index:2; width: 100%;}
.filterblock2{padding:0; margin: 0; background:#FFFFFF;overflow: hidden;}
.filterblock2 li{list-style:none; position: relative;float: left; border-right:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0;} 
.filterblock2 li a.mui-btn{height:40px;line-height:30px; }
.filterblock2 li a.mui-btn.mui-active,.filterblock2 li a.mui-btn:enabled:active{background: none;border:none;color:#666666;}
.filterblock2 li select{  margin:0 2px;}
.filterlist2{ padding:0; margin: 0; border:none; border-radius:0;padding:6px;font-size: 13px;}
.filterlist3 span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:inline-block;max-width:84%;text-align: left;}
.filterlist3 em{position: absolute;top:38%;}

.coutopicbox{ position: relative;z-index: 1;border-bottom: 1px solid #EFEFEF;background: #FFFFFF; margin-bottom: 10px; width:110%; margin-left:-16px; padding:10px 10px 8px 10px; overflow: hidden;}

.coutopicbox .coutheme{ max-width: 60%;}
.coutopicbox .coustatus span{ font-size: 12px; padding:4px 10px; margin: 0 2px; color: #FFFFFF; border-radius: 6px;}
.coutopicbox .aimlabel{background:#6CA8FF;}
.coutopicbox .status-1{background:#FF9900;}/*进行中*//*咨询状态*/
.coutopicbox .status-2{background:#dd524d;}/*待评价/新咨询*/
.coutopicbox .status-3{background:#0ee032;}/*已完成*/
.coutopicbox .status-4{background:#6CA8FF;}/*待回复*/
.coutopicbox .status-5{background:#d3d3d3;}/*已拒绝/被拒绝*/

.thistime{ position: absolute; right:6px; font-size: 12px; color: #999999;}

.mui-table-view-cell>.proinfor>.mui-badge{top: 20px;left:10px; right:auto;}
/*星级评价*/
.evabox{position:absolute;right: 2%;top: -4px; text-align: center;color: #999;}
.evabox span{ font-size: 12px;}
.evabox .levelbox{ width:100px;}
.evabox .levelbox .mui-icon{ font-size: 12px; }
/*咨询列表下拉菜单*/
.popoverbox {border-radius: 4px;width:0;height:0;min-width: 100px;height:140px;font-size: 13px; }
.popoverbox .mui-popover-arrow{top: -22px;width: 22px;height: 22px; left:50%; margin-left:-12px;}
.popoverbox .mui-table-view-cell:after{right: 0;bottom: 0;left: -10px;background: none;}
.popoverbox .mui-table-view-cell{padding:8px 14px;/* text-align: center;*/}
.popoverbox .mui-table-view-cell>a:not(.mui-btn){ margin-right:-12%;position: relative;}
.popoverbox .mui-table-view-cell .mui-navigate-right:after { position:absolute;right: 0; color:#FF9900;font-size: 24px;}
/*chat对话块*/
footer.chatFooter {position: fixed;width: 100%;height: 50px;min-height: 50px;border-top: solid 1px #bbb;left: 0px;bottom: 0px;overflow: hidden;padding: 0px 50px;background-color: #fafafa;padding-left: 5px;}
.footer-left {position: absolute;width: 50px;height: 50px;left: 0px;bottom: 0px;text-align: center;vertical-align: middle;line-height: 100%;padding: 12px 4px;}
.footer-right {position: absolute;width: 50px;height: 50px;right: 0px;bottom: 0px;text-align: center;vertical-align: middle;line-height: 100%;padding: 12px 5px;display: inline-block;}
.footer-center {height: 100%;padding: 5px 0px;}
.footer-center [class*=input] {width: 100%;height: 100%;border-radius: 5px;}
.footer-center .input-text {background: #fff;border: solid 1px #ddd;padding: 10px !important;font-size: 16px !important;line-height: 18px !important;font-family: verdana !important;overflow: hidden;}
.footer-center .input-sound {background-color: #eee;}
footer.chatFooter .mui-icon {color: #999999;}
footer.chatFooter .mui-icon:active {color: #FF9900 !important;}
footer.chatFooter .mui-icon-paperplane:before {content: "发送";color:lightgray;}
footer.chatFooter .mui-icon-paperplane.addColor:before {content: "发送";color:#ff9900;}
footer.chatFooter .mui-icon-paperplane {font-size: 16px;word-break: keep-all;line-height: 100%;padding-top: 6px;color: rgba(0, 135, 250, 1);}
.timenow.thistime{right: 3%;}

/*********************** 咨询*******************/

/*********************** 资源信息浏览*******************/
.restopblock{ overflow: hidden; padding:14px 10px; background: #FFFFFF;}
.resouimgbox{text-align:center;margin:10px;}
.resouimgbox img{ /*width: 100%;*/margin: auto;}
.personblock{ position:absolute;top:20px;right:4%; padding:3%; text-align: center; width:36%;}
.personblock .listtit{line-height: 26px;}
.personblock .listtit2{line-height: 20px;}
.personblock .listtit3{line-height: 18px;}
.personblock p{ margin: 0;}
.personblock .headimg{ width:40%;overflow: hidden;}

.resomenubox{background: #FFFFFF; padding:8px 10px;}
.resomenubox ul.resomenu{padding: 0;margin: 0;overflow: hidden;}
.resomenubox ul.resomenu li{ list-style: none; font-size:16px;line-height:20px; float: left;}

.resouinfoword{ padding:6px 0; background: #FFFFFF;}
.resouinfobox{ padding:0;margin: 0;}
.resouinfobox>li{ list-style: none; margin:10px 4px; padding-left: 10px; font-size: 14px; line-height: 20px; word-break: break-all;}
/*研究方向详细展示*/
.researchAreaBox .headimg{width: 40px;height: 40px;max-height: 40px;}
.researchAreaBox .mui-table-view-cell:after{left:62px;}
.researchAreaBox .littip{font-size:13px;margin: 2% 0 1% 2%;}
.researchAreaBox .mui-media-body{padding-top:5px;}
.researchAreaBox .researchArea{padding:20px 10px;background: #FFFFFF;}
/*********************** 资源信息浏览*******************/

/***********************评价*******************/
.feedback .row {width: 100%;background-color: #fff;font-size:14px;line-height:20px; }
.feedback .hidden {display: none;}
.feedback .mui-inline{vertical-align: bottom;font-size: 14px;line-height:20px; color: #888888;}
.feedback .question{border-bottom:1px solid #F0F0F0;padding:4px 16px;}
.icons.levelbox .icon-favor{color: #B5B5B5;font-size: 18px;line-height:20px; }
.icons.levelbox .icon-favorfill{/*color: #FFB400;*/font-size: 18px;} 
.assessbox{margin:10px 0; background: #FFFFFF; padding:10px;padding-bottom: 30px;}
/***********************评价*******************/

/***********************缺省页面*******************/
.nodatabox{width:100%;height: 100%; margin:50px auto;text-align: center;}
.nodatabox .picbox{margin:20% auto 30px;}
.nodatabox .picbox .defpic{display:block;margin:auto;width:160px; height: 160px;background: url(../images/nodata.png) -6px 0 no-repeat;}
.nodatabox .picbox .defpic.consult-pic{background-position: -232px -1320px;}/*咨询页面未登录*/

.nodatabox .txtbox { margin:20px 0 10px 0;}
.nodatabox .txtbox .currword{font-size: 14px;color: #999999;line-height: 14px;}
.nodatabox .txtbox .currtip{ font-size:13px;color: #AAAAAA;}
.nodatabox .txtbox .keyword{ padding:0 6px;}
/***********************缺省页面*******************/

/***********************科袖用户协议*******************/
.privacyBox{width:100%;padding:10px;background:#fafafa;margin:auto;line-height:28px;font-size:15px;}
.privacyBox dl,.privacyBox dd{padding:0; margin: 0;}
.privacyBox h3{font-size: 16px;line-height: 30px; color:#444;padding:4px;}
.privacyBox p{text-indent:1.5em; margin:0; padding:6px;color:#666;}
.privacyBox p.text_indentP{text-indent:2em; }
.privacyBox ul{ margin:0 4px;text-indent:1.5em;padding:0 4px; color:#666;}
.privacyBox ul li{list-style: none;}

.versionbox{position:absolute;width:20%;margin: auto; bottom:10%;left:50%; color:#999999;font-size:12px;margin-left:-10%;text-align: center;}
/***********************科袖用户协议*******************/

/***********************首页轮播*******************/
.bannerA{/*height:200px;*/background: url(../images/banner/banner0307.png) center center no-repeat;background-size: cover;}
.art_topicBox{position: relative;display: block;height: 180px;}
.art_topicBox img{width:100%;}
.art_topicbox{ position:absolute;top:0;width:100%;height:100%;
	background: -webkit-linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Firefox 3.6 - 15 */
	background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.2)); /* 标准的语法 */
}
.art_img{ width: 100%; height:180px; overflow: hidden;background: url(../images/default-art_top.jpg) center center no-repeat;background-size:100% auto;}
#artical_topic{position: absolute;bottom:10px;padding:6px 10px;font-size:18px;line-height:24px;color:#FFFFFF}

#artical_sth{font-size:12px;line-height: 14px;color:#999999;}
.articalBox{max-width: 640px;margin:6px auto 26px;padding:4px 16px;color:#555555;}
.line01 {margin:10px 0 4px 0;border-top: 1px dashed #ddd;height: 1px;overflow: hidden;clear: both;width: 100%;}
.articalBox p{margin:6px 0;padding:2px;/*text-indent: 2em;*/font-size: 15px; line-height: 26px;color:#666666;}
.articalBox .indentNone{text-indent: 0;text-align: center;}
.articalBox .indentNone img{width:98%; margin: 6px 0;}
.articalBox .indentNone .imgTit{ font-size: 12px;line-height: 20px;}
.articalBox .artSTit{text-indent: 0.2em;font-size:16px; color:#069E21;}
/*首页发布按钮*/
.btnLinkBox .mui-table-view-cell:after{right: 0;bottom: 0;left:0;}
.btnLinkBox h4{/*font-weight: normal;color:#333333*/}
.mui-table-view .mui-media-object.btnLinkIcon{width:42px; height:42px;border-radius:50%;text-align: center;vertical-align: middle;}
.btnLinkIcon.fabuBtn{background: #007AFF;}
.btnLinkIcon.proBtn{background: #FF9900;}
.btnLinkIcon .iconfont{color:#FFFFFF;line-height: 42px;}
.btnLinkIcon.fabuBtn .mui-icon.icon-fabu{font-size:18px;}
.btnLinkIcon.proBtn .mui-icon.icon-profilefill{font-size:24px;}
/*.btnLink{padding-left:4px;}*/
/***********************需求相关*******************/
.contentInner{width:90%;margin:4% auto;}
.maincon ul .divideSpace{margin:4px auto 8px;}
.maincon ul.chooseBox{padding:0;margin: 0;}
.hotsearch.chooseBox li{border-color: #D3D3D3;color:#999999;padding-left:18px;}
.addlabel .lineInput{border:none;border-bottom:1px solid #F0F0F0;border-radius: 0;padding-left:2px}
.divideSpace .labelshow li{color:#ff9900;}
.hotsearch.chooseBox li{padding:0;}
.hotsearch.chooseBox li span{line-height:26px;padding:4px 20px;}
.hotsearch.chooseBox li:active{background: none;}
.hotsearch.chooseBox li.checkedLi{background: #ff9900;color:#FFFFFF;border-color:#ff9900}
.hotsearch.chooseBox li.checkedLi span:before{font-family:"iconfont";content: "\e645";border:1px solid;
  border-radius: 50%;font-size:12px;line-height: 24px; margin-right:3%;} 
.divideSpace .littipCh{padding-left:10px;}
.divideSpace .littipCh .littip p{color:#BBBBBB;line-height: 20px;font-size: 12px;text-indent: 2.1em;}
.divideSpace .littipCh .littip{display: none;}
.divideSpace .littipCh .littip:first-child{display: block;}

.demandBox ul.boxnav li{width:33.333%;}
.demandBox ul.boxnav.boxnavTo li:nth-child(2){width:66%}
.demandBox ul.boxnav.boxnavTo li span{border-color:#ff9900;color:#FF9900;}
.demandBox ul.boxnav.boxnavTo li .checkNow{background:#ff9900; color:#FFFFFF}
.demandBox ul.boxnav.boxnavTo li .checkNow:before{font-family:"iconfont";content: "\e645";border:1px solid;
  border-radius: 50%;font-size:12px; margin-right:3%;}
.demandBox ul.boxnav.boxnavTo li .checkNo{border-color:#D3D3D3;background:#D3D3D3;color:#FFFFFF;}

.demandBasic{padding:4px 0;}
.demandBasic h3{font-weight: normal;}
.demandBasic h5{line-height: 26px;font-weight: normal;}
/*.demandBasic h5 span{margin-right:1%;}*/
.demandBasic h5 em{font-style: normal;display: inline-block;padding:0 2%;background:#6699ff;margin:0 1px;border-radius:6px;color: #FFFFFF;font-size:12px;line-height: 22px;}
.conBody{position: relative; min-height: 100%;padding-bottom:20%;}
.demandBtn{position: absolute;bottom:2%;right:0; left:0;}
.demandBtn .frmactive2{background: none;border:none;color:#999999;}
.demandBtn .frmactive2.mui-btn:enabled:active{background: none;border:none;color:#999999}

/*新加实名认证*/
.submutbut{float:right; padding:0 10px; line-height:45px ; font-size:14px; color: #fff;}
